@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 8px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue";
}

body {
  background-color: rgb(248, 244, 255);
  /* height: 100vh; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 30px;
  /* color: purple; */
}

nav ul {
  display: flex;
  gap: 30px;
  margin-right: 35px;
}

nav ul li {
  list-style: none;
  font-size: 21px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: purple;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 950px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  nav ul {
    flex-direction: column;
    gap: 2px;
    margin: 0 0 0 7px; /* adjust left margin */
    padding: 0;
  }

  nav ul li {
    font-size: 18px;
  }

  header h2 {
    margin-left: 15px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 40vw;
}

button {
  margin-top: 20px;
  background-color: #5a0073;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #3b0055;
}

@media (max-width: 600px) {
  input,
  textarea {
    width: 90vw; /* almost full width with margin */
  }

  form {
    width: 100%;
    align-items: center; /* center form items horizontally */
  }
}
